build-essential
cmake
git
pkg-config
libeigen3-dev
libboost-all-dev
libglfw3-dev
libxrandr-dev
libxinerama-dev
libxcursor-dev
libxi-dev
libxxf86vm-dev
libopengl-dev
mesa-common-dev
libspdlog-dev
libyaml-cpp-dev
libprotobuf-dev
protobuf-compiler
libfmt-dev
